{% extends "base.html" %} {% block head %}
<script
  type="text/javascript"
  src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
{% endblock %}
<!-- prettier-ignore -->
{% block nav_discover %}link-secondary{%endblock%} {%block content%}
<div class="container-fluid"><p>Discover App Placeholder</p></div>
<div id="networkMap" class="container-fluid vh-100"></div>

<script type="text/javascript">
  var DOTstring = {{ cdp_dot }};
  var parsedData = vis.parseDOTNetwork(DOTstring);
  var container = document.getElementById('networkMap');
  var data = {
    nodes: parsedData.nodes,
    edges: parsedData.edges,
  };
  var options = {
    nodes: {
      shape: 'dot',
    },
  };

  var network = new vis.Network(container, data, options);
</script>
{%endblock%}
